extends layout

block content
    div(id="colorWrapperHome")
        div(id="wrapperHome")
            h1(id="ammountHeaderTag") 
            canvas(id="myCanvas")
            script(src="script.js")